{% extends 'base.html' %}

{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome to Ecommerce website!!</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
                    <br> <br>
                    <p align="justify">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, deleniti incidunt repudiandae sint corrupti veniam fugit nihil quas alias amet odio voluptates, ea esse fugiat provident itaque vero temporibus velit.
                        Odio, placeat? Assumenda quas necessitatibus, distinctio tempora quisquam velit adipisci delectus, autem eveniet, praesentium reprehenderit aspernatur fugit id! Quo nemo sequi natus nihil tempora dolores, harum impedit architecto eveniet sapiente!
                        Harum, nobis! Natus tenetur ratione vero non! Consectetur culpa expedita molestiae labore eos, incidunt voluptatem debitis recusandae praesentium corporis. Repellat dignissimos sequi iste, animi totam laboriosam ipsa? Obcaecati, sint ullam!
                        Earum voluptatibus cumque dignissimos tenetur corrupti iusto autem accusamus? Aut quam, dignissimos earum laborum vel qui rem expedita velit, placeat laboriosam eveniet voluptate incidunt ut aliquid perferendis officiis fugiat? Aliquam.
                        Odio iure et molestiae qui magni rem quia odit doloremque nihil minus dolorum ut nisi error minima recusandae expedita quos rerum quod enim, praesentium repudiandae autem? Enim quia voluptatem odio.
                        Officia quidem possimus quod ipsa tempore, porro a voluptatum facilis fugiat velit quia! Tempore neque excepturi quia blanditiis facilis id incidunt. Illum incidunt qui, molestiae sequi laborum excepturi neque fugiat.
                        Dignissimos maiores cum aliquid quo repellat beatae in, vero quam. Numquam laboriosam officia laudantium expedita maxime consequatur, neque, distinctio veritatis illo possimus molestiae harum aliquam dolor sapiente rerum eum nostrum?
                        Odio perspiciatis at placeat a exercitationem veniam quo hic inventore id autem, pariatur iure? Temporibus veniam nam error neque. Culpa unde tenetur enim laudantium inventore recusandae repellendus iste magni pariatur!
                        Officiis, cum ut! Maiores harum sint, consequuntur omnis recusandae aliquam ducimus illo neque, veniam consectetur tempora, aspernatur sed. Quasi dignissimos accusamus dolorem odio magni assumenda rerum? Dicta vero necessitatibus fuga?
                        Nobis earum vel quae ut eum nemo est officiis, animi cum adipisci quia voluptatibus ullam asperiores optio. Blanditiis quisquam distinctio libero animi vel architecto deserunt? Minus voluptatum nemo ratione quas?
                    </p>
                    <br>
                </div>
            </center>
        </div>
    </div>


{% endblock %}